body{
    background-image: url(../images/shyghoul3.JPG);
    padding: 100px 100px;
    margin: 140px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}

h1{
    text-align: left;
    position: relative;
    margin-top: -200px;
    margin-left: -200px;
    text-shadow: 4px 4px black;
    color: forestgreen;
    border-color: black;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;

}

h2{
    text-align: left;
    position: absolute;
    margin-top: 50px;
    margin-left: -150px;
    text-shadow: 4px 4px black;
    color: forestgreen;
    border-color: black;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
}

h3{
    text-align: left;
    position: relative;
    margin-top: 370px;
    margin-left: -70px;
    text-shadow: 4px 4px black;
    color: forestgreen;
    border-color: black;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;

}
h4{
    text-align: left;
    position: relative;
    margin-bottom: 400px;
    margin-left: 530px;
    text-shadow: 4px 4px black;
    color: forestgreen;
    border-color: black;
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 50px;
}
li {
    float: right;
    position:relative;
    margin-bottom: 600px;
}
  
  a{
    display: block;
    padding: 8px;
}

li a{
    display:block;
    color: forestgreen;
    text-align: right;
    text-shadow: 2px 2px black;
    padding: 10px 10px;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

.container{
    position: relative;
    width: 70px;
    height: 60px;
    float: right;
    left: 0px;
}

.responsive-iframe{
    position: absolute;
    bottom: -300px;
    right: 100px;
    width: 600px;
    height: 400px;
}

.cont{
    position: relative;
    width: 50px;
    height: 50px;
    float: right;
    left: 200px;
}

.responsive-iframe-link{
    position: absolute;
    top: 450px;
    right: 680px;
    width: 300px;
    height: 400px;
}
.contain{
    position: absolute;
    width: 300px;
    height: 10px;
    float: right;
    right: 200px;
    top: 720px;
}

.responsive-frame-apple{
    position: absolute;
    top: 5px;
    left: 0px;
    width: 100px;
    height: 100px;
}