body{
    background-image:url(../images/shy.jpeg);
    padding: 100px 100px;
    margin: 100px;
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    text-shadow: 5px 5px black;
    color: forestgreen;
    border-color: black;
    text-decoration: black;
    font-size: 70px;
    font-family: 'Rock Salt', cursive;
}

ul{
    list-style-type: none;
    margin: 50px;
    padding: 50px;
}

li{
    float:inline-start;
}

li a{
    display:block;
    color: forestgreen;
    text-align: center;
    text-shadow: 2px 2px black;
    padding: 10px 10px;
    text-decoration: none;
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
    
}

li a:hover{
    color: forestgreen;

}

.cont{
    width: 100%;
    background-color: lawngreen;
}

.fifty{
    width: 50%;
    display: block;
    float: left;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

img { max-width: 100%; height: auto; }

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
        
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

html { font-size:100%; }